:root{

  /* colors palete */
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-150: rgb(245, 245, 245);
  --clr-primary-200: rgb(209, 209, 209);
  --clr-primary-400: rgb(199, 199, 199);
  
  --clr-secondary-100: rgb(0, 0, 0);

  /* color accent */
  --clr-accent-100: rgb(10, 77, 77);
  /* --clr-accent-100: rgb(10, 79, 79); */
  --clr-accent-200: rgb(14, 119, 119);
  /* --clr-accent-200: rgb(14, 117, 117); */
  --clr-accent-300: rgb(12, 167, 167);
  
  /* opacity */
  --gr-accent-100: hsla(180, 87%, 35%, 0.25);
  --gr-accent-200: hsla(180, 78%, 17%, 0.45);
  --gr-accent-300: hsla(180, 78%, 17%, 0.75);
  --gr-accent-400: hsla(180, 87%, 35%, 0.75);


  /* sizes */
  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 3rem;

  /* fonts family */

  --ff-primary: 'Montserrat',sans-serif;
  --ff-secondary: 'Lato', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /*  font sizes */

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.20rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;


  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-tertiary-heading: var(--fs-650);
  --fs-button: var(--fs-300);

  --fs-header-slider: var(--fs-900);
  --fs-slider-title: 7ch;

  --b-radius-wrapper: var(--size-500);
  --b-radius-btn: var(--size-700);

  --transition-link-1: all 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --transition-link-2: all 0.4s ease-in;


  --arrow-width: var(--size-800);
  --arrow-height: var(--size-800);

  --svg-icon-width: 50px;
  --svg-icon-height: 50px
}

@media (max-width: 32em) {
  :root{

    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-650: 1.25rem;
    --fs-700: 1.575rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fs-body: var(--fs-400);
      --fs-primary-heading: var(--fs-700);
      --fs-secondary-heading: var(--fs-600);
      --fs-button: var(--fs-300);

      --svg-icon-width: 30px;
      --svg-icon-height: 30px;
  }
}

@media (min-width: 38em) {
  :root {
  --fs-tertiary-heading: 1.75rem;

    }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* general styling */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-accent-100);
}

button{
  cursor: pointer;
}

p:not([class]){
  opacity: 0.95;
  font-size: var(--fs-650);
}

ul:has([class]){
  padding: 0;
  list-style: none;
}


/* header slider  */
.slider, .header-slider{
  background-size: cover;
  background-position: center;
}

.header-slider[data-slide="first"]{
  background-image: linear-gradient(rgba(10,
    79,
    79, 0.45), rgba(14,
      117,
      117, 0.75)), url('/assets/img/64a.jpg'); 
}

.nav-wrapper > div {
  display: flex;
  justify-content: space-between;
  margin-inline: var(--size-700);
  /* position: fixed;
  background-color: var(--clr-accent-100);
  width: 100%; */
}

/* on scroll */
 

.primary-header .nav-wrapper[data-nav="true"] {
  position: fixed;
  background-color: var(--clr-accent-100);
  max-width: 100%;
  width: 100%;
  padding-block: .75rem;
  z-index: 1;
}

.nav-wrapper > div {
 margin-inline: var(--size-400); 
}


.primary-header{
  --fill-color: white;
}

.btn-primary{
  background-color: var(--clr-accent-100);
  border-radius: var(--b-radius-btn);
 border: 1px solid var(--clr-accent-100);
  color: var(--clr-primary-100);
  font-weight: var(--fw-medium);
  font-style: normal;
  line-height: normal;
  /* font-size: var(--size-400); */
  padding: var(--size-200) var(--size-600);
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  text-decoration: none;

}

.btn-primary:is(:hover, :focus-visible){
  background-color: var(--clr-primary-100);
  color: var(--clr-accent-100);
  border-color: var(--clr-accent-200);
}

.btn-arrow:is(:hover, :focus-visible) path,
.btn-primary:is(:hover, :focus-visible) svg path { 
  fill: var(--clr-accent-100);
}

.btn-secondary{
  background-color: transparent;
  border: 1px solid var(--clr-primary-100);
  border-radius: var(--b-radius-btn);
  padding: var(--size-100) var(--size-600);
  color: var(--clr-primary-100);
  text-decoration: none;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-weight: var(--fw-medium);
  text-decoration: none;
  font-size: var(--fs-600);
}

.btn-secondary:is(:hover, :active, :focus){
  background-color: var(--clr-primary-100);
  color: var(--clr-accent-100);
}

.btn-arrow {
  background-color: var(--clr-accent-100);
  height: 45px;
  width: 45px;
  border: none;
  border-radius: var(--b-radius-btn);
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-arrow:is(:hover, :focus-visible) {
  border: 1px solid var(--clr-accent-200);
  background-color: var(--clr-primary-100);
}


.btn-accent{
  border-radius: var(--b-radius-btn);
  background-color: var(--gr-accent-400);
  border: 1px solid var(--clr-accent-300);
  color: var(--clr-primary-100);
  padding: var(--size-100) var(--size-400);
  /* transition: var(--transition-link-1); */
  transition: var(--transition-link-2);
}

.btn-accent:is(:hover, :focus-visible){
  color: var(--clr-accent-300);
  background-color: var(--clr-primary-100);
}

.mobile-nav-toggle{
  display: block;
  position: absolute;
  cursor: pointer;
  top: var(--size-200);
  right: var(--size-800);
  background: transparent;
  border: 0;
  padding: var(--size-200);
  aspect-ratio: 1 / 2;
  width: var(--size-600);
  background-image: url("assets/img/icon-hamburger.svg");
  text-shadow: 1px 1px black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  transition: .5s all var(--transition-link-1);
}


.mobile-nav-toggle[data-control="close"]{
  left: calc(100% - var(--size-900));
  background-image: url("assets/img/icon-close.svg");
}

.primary-nav__wrapper{
  padding-block: var(--size-200);
  padding-inline: var(--size-400);
  border-bottom: 1px solid #176c6c;
}


.primary-navigation[data-visible] {

  transform: translateX(0%);
}


.primary-navigation {
   display: block;
   position: fixed;
   width: 30%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: var(--clr-accent-200);
   z-index: 9999;
   transform: translateX(-100%);
   transition: 1s all ease;
}


@media (max-width: 48em) {
  .primary-navigation{
    width: 50%;
  }
}

@media (max-width: 28em) {
  .primary-navigation {
    width: 100%;
  }
}

.primary-navigation .nav-list{
  margin-top: var(--size-700);
  display: flex;
  justify-content: center;
  align-items: start;
  row-gap: var(--size-500);
  flex-flow: column;
  
  margin-inline: 2rem;
  padding: 0;
  list-style: none;
  
}

.primary-header .mobile-nav-toggle[data-control="hamburger"],
.nav-wrapper[data-nav="true"] .nav-logo,
img[data-inverted="true"]{
  filter: invert(1) brightness(2.5);
}

.primary-header{
  position: relative;
  z-index: 1;
}

.primary-header .nav-wrapper {
  transition: .3s all;
}

.primary-header .nav-wrapper[data-nav="true"] .mobile-nav-toggle[data-control="hamburger"]{
  top: var(--size-400);
}

.primary-header .mobile-nav-toggle[data-control="close"]{
  top: var(--size-400);
}


.primary-navigation .nav-list a{
color: var(--clr-primary-100);
text-decoration: none;
font-size: var(--fs-600);
width: 100%;
}

.primary-navigation .nav-list a:hover{
  color: var(--clr-primary-400);
}

.primary-header[data-overlay]::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: #2727277a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}


.primary-header .mobile-nav-toggle{
  position: fixed;
}

/* header slider content*/


.header-slider .slider__content {
  margin-inline: var(--size-700);
  padding-block: var(--size-400);
}

.header-slider .slider__content .title{
  font-size: var(--fs-slider-title);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
}

.header-slider .desc{
  font-size: var(--fs-650);
  color: var(--clr-primary-100);
  opacity: .90;
  max-width: 50%;
}

.slider__content.container { 
  margin: auto;
}


/*  media queries */


/* 32 em */
@media (max-width: 48em) {
  :root{
    --fs-slider-title: 5ch;
  }
  
}


/* sponsor section */

.sponsors .slider{
  list-style: none;
  padding: 0;
  justify-content: space-around;
  column-gap: var(--size-700);
}

.sponsors .slider img{
  object-fit: contain;
  max-height: var(--size-900);
  filter: grayscale(95%);
}

.sponsors::after{
  display: block;
  content: "";
  width: 90%;
  margin: auto;
  background-color: var(--clr-primary-200);
  height: 1px;
}

/* news */

.news{
  margin-block: var(--size-400);
}

.news .container{
  display: grid;
  grid-auto-columns: 80% 20%;
  grid-auto-flow: row;
    grid-template-areas:
        'nav nav'
        'text text';
}

.news__wrapper{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;
}

.news__link:is(:hover, :focus-visible){
  color: var(--clr-accent-100);
  
}

.news >  h2{
  grid-area: title;
  align-self: center;
}


.news ul{
  grid-area: text;
}

.buttons-wrapper{
  display: flex;
  gap: var(--size-200);

  justify-self: end;
  align-self: center;
}


.news__section{
  padding: var(--size-400) 0rem;
  gap: var(--size-700);
  display: grid;
  grid-auto-flow: row;
}

.news__section>.box-square {
  grid-column: 1 / 1;

}

.news__section > .box-rectangle{
  grid-row: 1 / 3;
}

.news__section li{
  background-color: var(--clr-primary-150);
  border-radius: var(--b-radius-wrapper);
  padding: var(--size-600);
  box-shadow: 5px -2px 2px 1px var(--clr-accent-100),
    -2px 2px 2px 1px var(--clr-primary-400);
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}

.news__desc{
  font-weight: var(--fw-medium);

}

.news__more-info{
  margin-top: var(--size-400);
  display: flex;
  justify-content: space-between;
}

.news-bg-img[data-news-img="first"]{
  background-image: linear-gradient(#e6e6e6d3, #f6f6f6c8),
    url('/assets/img/61.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news__link{
  color: var(--clr-accent-300);
  transition: var(--transition-link-1);
}

/* our offer section */


.offer-box{
  border-radius: var(--b-radius-wrapper);
}

.offer__subtitle{
  font-size: var(--fs-600);
}

.offer__items{
  display: flex;
  flex-flow: column;
  row-gap: var(--size-500);
  padding: 0;
}

.offer__items .item{
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--size-300);
  justify-content: space-between;
  align-items: center;
}


.offer__items .item .offer__wrapper{
  flex-basis: 60%;
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--size-400);
  align-items: center;
  padding-block: var(--size-400);
}


.offer__subtitle,
.offer__items .offer__wrapper h2,
.offer__items .offer__wrapper .desc{
  font-family: var(--ff-secondary);
}

.offer__items .offer__wrapper h2{
  line-height: var(--size-900);
}

.offer__items .offer__wrapper .desc{
  font-size: var(--fs-600);
}

.offer__items .item-icon .icon{ 
  fill: var(--clr-accent-300);
  opacity: 0.45;
  width: calc(var(--size-400) * 6) ;
  height: max-content;
  transition: opacity .75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.offer__items li:hover .icon{
  opacity: 1;
}

.offer-box .fs-tertiary-heading {
  width: min-content;
}


.offer__items .item::after{
  display: block;
    content: "";
    width: 100%;
    margin: auto;
    background-color: var(--clr-primary-400);
    height: 1px;
    opacity: 0.25;
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.offer__items .item:hover::after{
      opacity: 0.75;
}

/* cta  */

.cta{
  border-radius: var(--b-radius-wrapper);
  background-image: linear-gradient(rgba(10,
          79,
          79, 0.45), rgba(14,
          117,
          117, 0.75)), url('/assets/img/wckp.png');
  color: var(--clr-primary-100);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cta .cta__wrapper{
  padding: var(--size-500);
}

.cta__content{
  margin-block: calc(var(--size-700) * 2.5);
}

.section-nav{
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-400);
  justify-content: start;
}

.tab-info{
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  gap: var(--size-400);
}

.cta__desc{
  margin-block: var(--size-900);
  font-size: var(--fs-650);
}

/* about us section */

.about-us .even-columns > picture img {
  order: 0;
  aspect-ratio: 1.75 / 1;
  object-fit: contain;
  max-width: 100%;
}

.about-us .even-columns > div {
  order: 1;
}

/* carousel */

.carousel > .carousel__wrapper{ 
  padding: var(--size-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel .columns{
  justify-content: center;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  /* padding-inline: var(--size-400); */
}

.carousel .column-items{
  display: flex;
  flex-flow: row;
  gap: 20px;
  /* justify-content: center; */
  /* overflow: hidden; */
  transform: translateX(0px);
  transition: 1s all ease-in-out;
  padding: 0;
}

.carousel-pagination{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: var(--size-400);
}

.carousel-pagination .item{
  background-color: var(--clr-primary-400);
  border: 1px solid var(--clr-accent-100);
  width: 15px;
  height: 15px;
  border-radius: var(--b-radius-wrapper);
  transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1);
}


.carousel-pagination .item:hover,
.carousel-pagination .item[data="active"]{
  background-color: var(--clr-accent-100);
}


.carousel .info-item-box{
  position: relative;
  width: calc(var(--size-500) * 14);
  /* max-width: calc(var(--size-500) * 15);   */ 
}

.carousel .info-item-box::after{
  display: block;
  position: absolute;
  content: "";
 background-image: linear-gradient(rgba(10,
        79,
        79, 0.25), rgba(14,
        117,
        117, 0.75));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  border-radius: var(--b-radius-wrapper);
  max-height: calc(var(--size-500) * 15);
  border-end-start-radius: 0;
  border-end-end-radius: 0;

  transition: 1.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: ellipse(100% 100% at 50% 90%);
}

.carousel .info-item-box img{
  border-top-left-radius: var(--b-radius-wrapper);
    border-top-right-radius: var(--b-radius-wrapper);
    height: calc(var(--size-500) * 15);
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel .info__title{
  padding-block: 2rem;
  padding-inline: 1rem;
  background-color: var(--clr-accent-100);
  color: var(--clr-primary-100);
  z-index: 999;
  border-bottom-left-radius: var(--b-radius-wrapper);
  border-bottom-right-radius: var(--b-radius-wrapper);
  min-height: 110px;
  max-height: 110px;
}

.carousel .info__title p {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.carousel a{
  text-decoration: none;
}

.carousel a:hover .info-item-box::after{
  clip-path: ellipse(80% 80% at 100% 100%);
  opacity: 0.75;
}

/* footer */

footer{
  padding: var(--size-600);
  border-top-left-radius: var(--b-radius-wrapper);
  border-top-right-radius: var(--b-radius-wrapper);
}

footer .container-fluid > p{
  display: flex;
  align-items: center;
  gap: var(--size-200);
  width: fit-content;
  position: relative;
}


footer .fs-primary-heading > span,
footer .fs-primary-heading svg{
  width: var(--arrow-width);
  height: var(--arrow-height);
  fill: var(--clr-primary-100);
}

footer .container-fluid > p:not(.primary-footer__copyright) ::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--clr-primary-100);

  position: absolute;
  bottom: 0;
  left: 0;
}

footer .even-columns{
  display: flex;
  flex-flow: column;
}

.header-footer__nav{
  padding-block: var(--size-200);
}

.header-footer__nav a{ 
  color: var(--clr-primary-100);
  text-decoration: none;
  font-size: var(--fs-650);
}

.header-footer__nav ul{
  display: grid;
}

.header-footer__nav .footer__nav__header{
  font-weight: var(--fw-bold);
  grid-column: span 2;
  grid-area: 1;
}

.header-footer__nav .footer__nav__header a{
  font-size: var(--fs-700);
}

.social-item svg {
  fill: var(--clr-accent-300);
  height: var(--svg-icon-height);
  width: var(--svg-icon-width);
  opacity: 0.70;
  transition: 1.25s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-link{
  width: fit-content;
}

.social-link:hover svg{
  opacity: 1;
}



footer ul{
  list-style: none;
  padding: 0;
}

footer a{
  color: var(--ff-primary);
  text-decoration: none;
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer a:hover{
  text-decoration: underline;
}

.header-footer__nav ul[aria-label="footer"] ul {
  display: flex;
  flex-flow: column;
  padding-left: var(--size-400);
}



footer .socials-nav{
  display: flex;
  flex-flow: column;
  width: 100%;
}

footer .social-item{
  flex-basis: 50%;
  width: fit-content;
}

footer .social-link {
  display: flex;
  flex-flow: row;
  align-items: center; 
  gap: var(--size-300);
}


.primary-footer__copyright{
  width: 100%;
  font-size: var(--fs-600);
  display: flex;
  justify-content: center;
  margin-top: var(--size-600);
}

footer .social-cols{
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr 1fr;
}

/* media queries */


@media (max-width: 32em) {
  
  /* footer */
  .footer-nav .sub__nav{
    columns: 2;
  }

  .header-footer__nav .footer__nav__header{
    grid-column: auto;
    grid-area: auto;
  }

  footer .social-cols{
    grid-template-columns: auto;
  }

  /* offer */
  .offer-box .offer__wrapper{
    row-gap: var(--size-300);
  }

  .offer-box .offer__wrapper .btn-secondary{
    order: 2;
  }

 


}


/* utility classes */

section:not(.sponsors){
  margin-block: var(--size-600);
}

@media (min-width: 48em) {
  section:not(.sponsors) {
      margin-block: var(--size-900);
  }
}

.container-fluid{
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.fs-secondary-heading{
  font-size: var(--fs-secondary-heading);
}

.fs-tertiary-heading{
  font-size: var(--fs-tertiary-heading);
}

.offer-box .container{
  --max-width: 1600px;
  
}

.container{
  --max-width: 1200px;
  --container-padding: 1.5rem;

  width: min(var(--max-width), 100% - (var(--container-padding)*2));
  margin-inline: auto;
}

@media (min-width: 75em){
  .container-xl-only{
    --max-width: 1200px;
      --container-padding: 1.5rem;
    
      width: min(var(--max-width), 100% - (var(--container-padding)*2));
      margin-inline: auto;
  }
}


@media (min-width: 48em){
  .container{
    --container-padding: 2rem;
  }

  .offer-box .container{
    margin-block: calc(var(--size-900) * 2);
  }
}

.section-wrapper {
  display: grid;
  grid-auto-flow: row;
  column-gap: 2rem;

}

.btn-heading{
  font-size: var(--size-600);
  margin-block: var(--size-700);
}

.btn-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--size-200);
}

.flex-f-row{
  display: flex;
  flex-flow: row;
}

.d-inline-flex{
  display: inline-flex;
}

.fw-bold{
  font-weight: var(--fw-bold);
}

.fw-medium{
  font-weight: var(--fw-medium);
}

.fw-light{
  font-weight: var(--fw-light);
}

.fw-semibold{
  font-weight: var(--fw-semibold);
}

.visually-hidden{
      position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
}

.fs-primary-heading{
  font-size: var(--fs-primary-heading);
}

@media (max-width: 48em){
.sm-none {
    display: none;
  }
}


.even-columns{
  display: grid;
}

.justify-cnt-center{
  display: flex;
  justify-content: center;
}

.revert-bg{
  background-color: var(--clr-accent-100);
  color: var(--clr-primary-100);
}

.p-bl-1{
  padding-block: var(--size-100);
}

.p-bl-2 {
  padding-block: var(--size-200);
}

.p-bl-3 {
  padding-block: var(--size-300);
}

.p-bl-4 {
  padding-block: var(--size-400);
}

.p-bl-5 {
  padding-block: var(--size-500);
}

.p-bl-6 {
  padding-block: var(--size-600);
}

.p-bl-7 {
  padding-block: var(--size-700);
}

.p-bl-8 {
  padding-block: var(--size-800);
}

@media (max-width: 38em) {
/* carousel */

  .carousel .info__title p {
    font-size: var(--fs-600);
  }
}

@media (min-width: 32em) {
  .offer__items .item .offer__wrapper {
    flex-basis: 80%;
  }

  .offer__items .item-icon .icon {
    width: calc(var(--size-400) * 5);
  }


}

@media (min-width: 38em) {

  /* news */
  .news__section {
    display: grid;
    grid-auto-flow: column;
  }

  .offer-box .fs-tertiary-heading {
       min-width: min-content;
       width: fit-content;
  }

    /* carousel */
  
    .carousel .info__title p {
      font-size: var(--fs-650);
    }
}

@media (min-width: 48em) {

  /* header slider */
  .header-slider .slider__content {
    padding-block: calc(var(--size-900) * 4.5);
  }

  /* sponsors  */

  .sponsors .slider {
    column-gap: var(--size-900);
  }

  /* offer box */

  .offer__items {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .offer__items .item {
    flex-basis: 49%;
  }

  .section-wrapper {
    grid-auto-flow: column;
    padding-inline: var(--size-700)
  }

  .offer__items .item .offer__wrapper{
    flex-basis: 70%;
    min-height: 200px;
  }

  /* carousel */

  .carousel .info__title p{
    font-size: var(--fs-600);
  }

  /* footer */

  footer .container-fluid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  footer .header-footer__nav { 
    grid-area: 2 / 1;
  }

  footer .social-cols {
    grid-area: 2 / 2;
  }

  footer .primary-footer__copyright{
    grid-column: span 2;
    justify-self: center;
  }
}

@media (min-width: 62em){

  /* offer box */
  .offer__items .item .offer__wrapper{
    flex-basis: 79%;
    min-height: unset;
  }

  /* cta */

  .cta .cta__wrapper{
    padding: var(--size-800);
  }
}


@media (max-width: 48em){
  .container{
    --container-padding: 0rem;
  }
  
}

/* carousel  */
/* 1 elem <320, 610) */

@media (min-width: 320px){
  .carousel .info-item-box {
      width: calc(100dvw * 1 );
    }
}

/* 2 elems <610, 916)  */
@media (min-width: 610px) {
  .carousel .info-item-box {
    width: calc(49dvw);
  }
}
/* 3 elems <916,  1214)*/
@media (min-width: 916px) {
  .carousel .info-item-box {
    width: calc(32dvw);
  }
}
/* 4 elems <1214,  1512)*/

@media (min-width: 1215px) {
  .carousel .info-item-box {
    width: calc(280px);
  }
}